<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
    @entryPointStyles('app')
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="admin/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="admin/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="admin/assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="admin/assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="admin/assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="admin/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="admin/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="admin/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="admin/assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="admin/assets/js/plugins/forms/validation/validate.min.js"></script>
	<script type="text/javascript" src="admin/assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script type="text/javascript" src="admin/assets/js/core/app.js"></script>
	<script type="text/javascript" src="admin/assets/js/pages/login_validation.js"></script>
	<!-- /theme JS files -->

</head>

<body class="login-cover">

	<!-- Page container -->
	<div class="page-container login-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">

					<!-- Form with validation -->
					<form action="/dashboard" class="form-validate">
						<div class="panel panel-body login-form">
							<div class="text-center">
								<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
								<h5 class="content-group">Login to your account <small class="display-block">Your credentials</small></h5>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="text" class="form-control" placeholder="Username" name="username" required="required">
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="text" class="form-control" placeholder="Password" name="password" required="required">
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn bg-blue btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
							</div>

						</div>
					</form>
					<!-- /form with validation -->


					<!-- Footer -->
					<div class="footer text-white">
						&copy; 2023. <a href="#" class="text-white">Admin Panel</a> by <a href="#" class="text-white" target="_blank">Kiril Kushnir</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
